body {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(240, 183, 232);
  /*자식들에 float이 적용되면 부모가 안품고 있는 것처럼
  되어 부모의 높이가 0이 됨 */
}

.container::after {
  /*가상공간을 만들어 container 높이 생성*/
  content: "";
  display: block;
  clear: both;
}

.item {
  float: left;
  padding: 5%;
}

.item-a {
  background-color: darksalmon;
  width: 30%;
}

.tiem-b {
  background-color: darkseagreen;
  width: 50%;
}

/*footer {
  clear: both; /*float: left;로 텍스트가 section b 아래로 놓여
  float를 clear 해줘야 함
  background-color: skyblue;
}*/
